<header x-data="headerData()">
    <div class="header-content">
      <h1>My E-Commerce Store</h1>
      <nav>
        <ul>
          <li><a href="#" @click="viewCategory('all')">All Products</a></li>
          <li><a href="#" @click="viewCategory('electronics')">Electronics</a></li>
          <li><a href="#" @click="viewCategory('jewelery')">Jewelery</a></li>
          <li><a href="#" @click="viewCategory('men\'s clothing')">Men's Clothing</a></li>
          <li><a href="#" @click="viewCategory('women\'s clothing')">Women's Clothing</a></li>
        </ul>
      </nav>
    </div>
  
    <script>
      function headerData() {
        return {
          currentCategory: 'all',
          viewCategory(category) {
            this.currentCategory = category;
            // Add logic to update product list based on the selected category
            document.dispatchEvent(new CustomEvent('categoryChanged', { detail: category }));
          }
        }
      }
    </script>
  </header>
  